<nav>
    <ul>
      <li><strong>Answer Please</strong></li>
    </ul>
    <ul>
      <li><a href="/">ℹ Submit Questions</a></li>
      <li><a href="/about">ℹ About</a></li>
      <li><a href="/test">ℹ View Only</a></li>
      <li><a href="https://techup.live" target="_blank">🔗 TechUp Live</a></li>
    </ul>
</nav>